#content
{
	flex: 1;
	overflow: scroll;
}
/*一个消息列表*/
#zhuyaoneirong
{
	
	margin-right: 10px;
	height: 100%;
	display: flex;
	flex-direction: column;
	
}

	
	


#liubai
{
	width: 100%;
	height: 100px;
	
	
	
}
#liubai span
{
	
	position: relative;
	left: 15px;
	font-size: 21px;
	color: black;
	text-align-last: center;	
}
#liubai img
{
	width: 10%;
	position: relative;
	right: 0;
	float: right;
	padding-top: 0px;
	
	
}

#content1
{	
	width: 100%;
	height: 200px;
	border-bottom: 1px solid gray;
	display: flex;
	text-align: center;
}
/*头像*/
#mayun
{
	flex: 0.15;
	margin-left: 4px;
	height: 100%;
	background-image: url(../../img/矢量图/ikun.jpg);
	background-size: 95%;
	background-repeat: no-repeat;
	
}

	
	

#mayuntext

{
	
	flex: 0.85;
	margin-right: 10px;
	height: 100%;
	display: flex;
	flex-direction: column;
	
	
}


#biaoti
{
	width: 100%;
	height: 25%;
	
	font-family: "微软雅黑";
}
#biaoti span
{
	
	text-align: left;
	font-size: 15px;
	color: black;
	position: relative;
	top:0px;
}
#biaoti h5

{	margin-left: 5px;
	text-align: left;
	font-size: 18px;
	color: black;
	position: relative;
	top:5px;
	
	
}	
#neirong
{
	width: 100%;
	height: 60%;
	
	font-family: "微软雅黑";
	
}	
#neirongtop
{
	width: 100%;
	height: 100%;
	
	font-family: "微软雅黑";
	
	
	
	
	
}	

#dalanqiu
{	margin-left: 5px;
	width: 100%;
	height: 100%;
	background-image: url(../../img/矢量图/lanqiu.jpg);
	background-size: 50% 100%;
	
	background-repeat: no-repeat;
}
	
#downneirong
{
	width: 100%;
	height: 20px;
	
	
}	
#downneirong span
{	margin: 5px;
	float: left;
	text-align: left;
	font-size: 5px;
	color: gray;
	
	
}	
#downneirong img
{
	width: 4%;
	
	
	
	float: right;
	padding-right: 10px;
	
}	
#comments
{
	width: 100%;
	height: 20%;
	
}
#topcomments
{
	width: 100%;
	height: 50%;
	
	
	
}
#bottomcomments
{
	width: 100%;
	height: 50%;
	
	
}


#topcomments img
{
	width: 5%;
	
	margin: 3px;
	
	float: left;
	
	
	
}	
#topcomments span
{
	float: left;
	font-size: 10px;
	color: #00008B;
	
}
#bottomcomments span
{
	float: left;
	font-size: 10px;
	color: black;
	
	
	
}

	/**background-image: url(../../img/矢量图/lanqiu.jpg);
	
	
}
/**#mayuntext span:first-child


{	float:right
	font-size: 25px;
	color: black;
	margin: 15px;
	
	
}
#mayuntext span:nth-child(2)


{	float:right
	
	font-size: 15px;
	color:black;
	margin: 15px;
}	
#mayuntext span:nth-child(3)


{	float: right;
	color: lightslategray;
	
	font-size: 15px;
	color:lightslategray;
	margin: 5px;
}	
**/

/**
#content #content2
{
	width: 95%;
	height: 200px;
	border-bottom: 1px solid gray;
	display: flex;
	
}
#	

/*中间信息*/
/**
#centerMsg
{
	margin-left: 10px;
	flex: 0.7;
	height: 100%;
	display: flex;
	flex-direction: column;
}
/*中间信息的上部分*/
/**
#centerMsg span:first-child
{
	font-size: 18px;
	color: black;
}
/*中间信息的下部分*/
/**
#centerMsg span:nth-child(2)
{
	font-size: 14px;
	color: gray;
}
/*右边信息*/
/**
#rightMsg
{
	flex: 0.2;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
/*右边时间*/
/**
#rightMsg span
{
	margin-top: 5px;
	color: gray;
}
/*右边静音图片*/
/**
#rightMsg img
{
	width: 20px;
	height: 20px;	
}
